@font-face {
  font-family: Champ-Black;
  src: url("./font/Champ-Black.ttf") format("truetype");
}

@font-face {
  font-family: ArenaUno;
  src: url("./font/ArenaUno-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  src: url("./font/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Caitrion;
  src: url("./font/CaitrionDemoDemo-j91xM.ttf") format("truetype");
}

@font-face {
  font-family: Wagen;
  src: url("./font/Wagen-zr143.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  scroll-padding-top: 70px; /* Altura do cabeçalho fixo */
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #003f18;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #a08368;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #003f18be;
}

body {
  background-color: #ffffff;
  color: #333;
}

a {
  color: #031e0f;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background: rgba(0, 0, 0, 0);
}

#logo {
  font-size: 1.9rem;
  font-weight: bold;
  font-family: "Champ-Black", sans-serif;
  color: #00432c;
}

#logo-container img {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#header {
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background: rgba(49, 49, 49, 0.075);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.151);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-family: "Champ-Black", sans-serif;
  animation: fadeIn 0.5s;
}

#menu a:hover {
  background: #b8d702;
  border-radius: 0.5rem;
  transition: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 8px 32px 0 rgba(0, 7, 65, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.151);
    transition: 0.6s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: rgb(28, 114, 2);
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
    margin-top: -3px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #logo {
    margin-left: 0.5rem;
  }
}

/* Banner */
.banner {
  background-color: #e6fdd6; /* Cor de fundo do banner */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.banner img {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.banner h1 {
  font-size: 6rem;
  font-family: "Champ-Black", sans-serif;
  margin-bottom: 10px;
  color: #00432c;
}

.banner p {
  font-size: 1.2rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.5;
  color: #00432c;
  font-family: sans-serif;
  font-weight: 600;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }
}

/* Sobre Sustentabilidade */
.sobre-sustentabilidade {
  background-color: #00432c; /* Cor de fundo do container */
  padding: 100px;
  text-align: center;
  color: #ffffff; /* Cor do texto */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
}

.sobre-sustentabilidade h1 {
  font-size: 2.8em;
  font-family: "Champ-Black", sans-serif;
  margin-bottom: 20px;
  color: #ffffff; /* Cor do título */
}

.sobre-sustentabilidade p {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #ffffff; /* Cor do texto */
  margin-bottom: 30px; /* Espaçamento abaixo do parágrafo */
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  max-width: 100%; /* Largura máxima do texto */
  margin: 0 auto; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Wagen", sans-serif; /* Fonte do texto */
  font-weight: 300; /* Peso da fonte */
}

.sobre-sustentabilidade strong {
  background-color: #b8d702; /* Cor do texto em negrito */
  color: #000000;
  font-weight: 700; /* Peso da fonte em negrito */
  padding: 5px; /* Espaçamento interno do texto em negrito */
  border-radius: 5px; /* Bordas arredondadas do texto em negrito */
}

.curiosidade {
  background-color: #b8d702; /* Cor de fundo da seção de curiosidades */
  padding: 20px; /* Espaçamento interno da seção de curiosidades */
  border-radius: 10px; /* Bordas arredondadas da seção de curiosidades */
  margin-top: 50px; /* Espaçamento acima da seção de curiosidades */
  margin-bottom: 50px; /* Espaçamento abaixo da seção de curiosidades */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra da seção de curiosidades */
  max-width: 900px;
  /* Largura máxima da seção de curiosidades */
  margin: 50px auto; /* Centraliza a seção de curiosidades */
  text-align: center; /* Centraliza o texto da seção de curiosidades */
  color: #00432c;
}

.curiosidade h6 {
  font-size: 2em; /* Tamanho da fonte do título de curiosidades */
  margin-bottom: 10px; /* Espaçamento abaixo do título de curiosidades */
  color: #00432c; /* Cor do título de curiosidades */
  font-family: "Champ-Black", sans-serif; /* Fonte do título de curiosidades */
}

.curiosidade p {
  font-size: 1em; /* Tamanho da fonte do parágrafo de curiosidades */
  color: #00432c; /* Cor do parágrafo de curiosidades */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
  text-align: justify; /* Justifica o texto de curiosidades */
  text-justify: inter-word; /* Melhora a justificação do texto de curiosidades */
  font-family: "Inter", sans-serif; /* Fonte do texto de curiosidades */
  font-weight: 600; /* Peso da fonte do texto de curiosidades */
  max-width: 900px; /* Largura máxima do texto de curiosidades */
  margin: 0 auto; /* Centraliza o texto de curiosidades */
  padding: 0 20px; /* Adiciona espaçamento lateral ao texto de curiosidades */
}

@media screen and (max-width: 768px) {
  .sobre-sustentabilidade h1 {
    font-size: 2em; /* Reduz o tamanho da fonte do título */
  }

  .sobre-sustentabilidade p {
    font-size: 1em; /* Reduz o tamanho da fonte do parágrafo */
  }

  .sobre-sustentabilidade {
    padding: 20px; /* Reduz o padding em telas menores */
  }

  .curiosidade {
    padding: 20px; /* Reduz o padding em telas menores */
  }
  .curiosidade h6 {
    font-size: 1.5em; /* Reduz o tamanho da fonte do título */
  }

  .curiosidade p {
    font-size: 0.9em; /* Reduz o tamanho da fonte do parágrafo */
  }
}

/* Conteudo - Impacto ambientais */
.conteudo-container {
  padding: 60px;
  background-color: #e6fdd6; /* Cor de fundo do container */
}

.conteudo-container h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #00432c; /* Rosa claro para o título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

.conteudo-container h6 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #026c48; /* Rosa claro para o título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

.conteudo-container p {
  text-align: center;
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #000000; /* Cor do texto */
  margin-bottom: 30px; /* Espaçamento abaixo do parágrafo */
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  max-width: 100%; /* Largura máxima do texto */
  margin: 0 auto; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Poppins", sans-serif; /* Fonte do texto */
}

.conteudo-explicativo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6fdd6; /* Cor de fundo do container */
}

.conteudo-explicativo li {
  list-style-type: disc; /* Estilo de lista com marcadores */
  margin-left: 20px; /* Margem à esquerda para a lista */
  color: #026c48; /* Cor do texto */
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Poppins", sans-serif; /* Fonte do texto */
}

.conteudo {
  padding: 100px;
  background-color: #b8d702; /* Cor de fundo do conteúdo */
  color: #026c48; /* Cor do texto */
  margin: 0 50px; /* Centraliza o conteúdo */
  max-width: 800px; /* Largura máxima do conteúdo */
  text-align: justify; /* Justifica o texto */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
  margin-top: 20px; /* Espaçamento acima do conteúdo */
  margin-bottom: 200px; /* Espaçamento abaixo do conteúdo */
}

.conteudo h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
}

.conteudo h2 {
  color: #000000; /* Rosa claro para os títulos */
  padding: 20px 0; /* Espaçamento acima e abaixo do título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

.conteudo p {
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  font-family: "Wagen", sans-serif; /* Fonte do texto */
}

.conteudo ul {
  list-style-type: disc; /* Estilo de lista com marcadores */
  margin-left: 20px; /* Margem à esquerda para a lista */
}

@media screen and (max-width: 768px) {
  .conteudo-container {
    padding: 20px; /* Reduz o padding em telas menores */
  }

  .conteudo h1 {
    font-size: 2em; /* Reduz o tamanho da fonte do título */
  }

  .conteudo p {
    font-size: 1em; /* Reduz o tamanho da fonte do parágrafo */
  }

  .conteudo-explicativo {
    flex-direction: column; /* Alinha os elementos em coluna */
    align-items: center; /* Centraliza os elementos */
  }
}

@media screen and (max-width: 600px) {
  .conteudo h1 {
    font-size: 1.5em; /* Reduz o tamanho da fonte do título */
  }

  .conteudo p {
    font-size: 0.9em; /* Reduz o tamanho da fonte do parágrafo */
  }

  .conteudo-explicativo {
    flex-direction: column; /* Alinha os elementos em coluna */
    align-items: center; /* Centraliza os elementos */
  }
  .conteudo {
    padding: 20px; /* Reduz o padding em telas menores */
    max-width: 350px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o container */
    margin-top: 20px; /* Espaçamento acima do conteúdo */
    margin-bottom: 20px; /* Espaçamento abaixo do conteúdo */
  }
}

/* Tipos de Lixeiras */

.trash-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.trash-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-top: 6px solid;
}

.trash-card:hover {
  transform: translateY(-5px);
}

.trash-emoji {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.trash-title {
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5rem;
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

.trash-description {
  color: #00432c;
  font-size: 0.95rem;
  line-height: 1.4;
  font-weight: 500;
  font-family: "Wagen", sans-serif; /* Fonte do texto */
}

@media (max-width: 500px) {
  .trash-card {
    padding: 1rem;
  }
}

.tipos-lixeiras {
  background-color: #00432c; /* Cor de fundo do container */
  padding: 100px;
  text-align: center;
  color: #000000; /* Cor do texto */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
}

.tipos-lixeiras h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
  color: #ffffff; /* Cor do título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

.tipos-lixeiras p {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #ffffff; /* Cor do texto */
  margin-bottom: 50px; /* Espaçamento abaixo do parágrafo */
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  max-width: 100%; /* Largura máxima do texto */
  margin: 0 auto; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Wagen", sans-serif; /* Fonte do texto */
  font-weight: 500; /* Peso da fonte */
  text-align: center; /* Centraliza o texto */
  margin: 20px;
}

.tipos-lixeiras strong {
  background-color: #b8d702; /* Cor do texto em negrito */
  font-weight: 700; /* Peso da fonte em negrito */
  padding: 5px; /* Espaçamento interno do texto em negrito */
  border-radius: 5px; /* Bordas arredondadas do texto em negrito */
  color: #00432c;
}

@media screen and (max-width: 768px) {
  .tipos-lixeiras h1 {
    font-size: 2em; /* Reduz o tamanho da fonte do título */
  }

  .tipos-lixeiras p {
    font-size: 1em; /* Reduz o tamanho da fonte do parágrafo */
  }
  .tipos-lixeiras {
    padding: 20px; /* Reduz o padding em telas menores */
  }
}

/* Tipos de Resíduos */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.emoji {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: bold;
  color: #2e7d32;
  margin-bottom: 0.5rem;
}

.description {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card {
    padding: 1rem;
  }
}

.tipos-residuos {
  background-color: #031e0f; /* Cor de fundo do container */
  padding: 100px;
  text-align: center;
  color: #000000; /* Cor do texto */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
}
.tipos-residuos h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
  color: #ffffff; /* Cor do título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}
.tipos-residuos p {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #ffffff; /* Cor do texto */
  margin-bottom: 50px; /* Espaçamento abaixo do parágrafo */
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  max-width: 100%; /* Largura máxima do texto */
  margin: 0 auto; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Wagen", sans-serif; /* Fonte do texto */
  font-weight: 400; /* Peso da fonte */
  text-align: center; /* Centraliza o texto */
  margin: 20px;
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins", Courier, monospace;
}

@media screen and (max-width: 768px) {
  .tipos-residuos h1 {
    font-size: 2em; /* Reduz o tamanho da fonte do título */
  }

  .tipos-residuos p {
    font-size: 1em; /* Reduz o tamanho da fonte do parágrafo */
  }
  .tipos-residuos {
    padding: 20px; /* Reduz o padding em telas menores */
  }
}

/* Mapa de coleta */

.mapa {
  background-color: #e6fdd6; /* Cor de fundo do container */
  padding: 100px;
  text-align: center;
  color: #000000; /* Cor do texto */
  font-family: "Poppins", sans-serif; /* Fonte do texto */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
}

.mapa h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
  color: #00432c; /* Cor do título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

.mapa p {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #000000; /* Cor do texto */
  margin-bottom: 50px; /* Espaçamento abaixo do parágrafo */
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  max-width: 100%; /* Largura máxima do texto */
  margin: 0 auto; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Wagen", sans-serif; /* Fonte do texto */
  font-weight: 400; /* Peso da fonte */
  text-align: center; /* Centraliza o texto */
  margin: 20px;
}

#map {
  height: 70vh;
  width: 100%;
  border-radius: 20px;
}

.popup-title {
  font-weight: bold;
  color: #00432c;
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 768px) {
  .mapa h1 {
    font-size: 2em; /* Reduz o tamanho da fonte do título */
  }

  .mapa p {
    font-size: 1em; /* Reduz o tamanho da fonte do parágrafo */
  }
  .mapa {
    padding: 20px; /* Reduz o padding em telas menores */
  }
  #map {
    height: 50vh; /* Reduz a altura do mapa em telas menores */
  }

  .popup-title {
    font-size: 1.2em; /* Reduz o tamanho da fonte do título do popup */
  }
  .popup-description {
    font-size: 1em; /* Reduz o tamanho da fonte da descrição do popup */
  }
  .popup-description {
    font-size: 0.9em; /* Reduz o tamanho da fonte da descrição do popup */
  }
}

/* Botão de Voltar ao Topo */

#scrollTopBtn {
  position: fixed;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#scrollTopBtn.show {
  opacity: 1;
  transform: scale(1);
}

#scrollTopBtn:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  #scrollTopBtn {
    padding: 10px; /* Reduz o padding em telas menores */
    font-size: 20px; /* Reduz o tamanho da fonte do botão */
  }
  #scrollTopBtn {
    bottom: 10px; /* Reduz a distância do botão em telas menores */
    right: 10px; /* Reduz a distância do botão em telas menores */
  }
}

/* Footer */

footer {
  background-color: #001111; /* Cor de fundo do rodapé */
  color: #ffffff; /* Cor do texto do rodapé */
  padding: 20px; /* Espaçamento interno do rodapé */
  text-align: center; /* Centraliza o texto do rodapé */
  font-family: "Poppins", sans-serif; /* Fonte do texto do rodapé */
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content h2 {
  font-size: 24px; /* Tamanho da fonte do título */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
  color: #ffffff; /* Cor do texto do título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

footer p {
  margin: 0; /* Remove a margem do parágrafo */
  font-size: 15px; /* Tamanho da fonte do parágrafo */
  color: #ffffff; /* Cor do texto do parágrafo */
  margin-bottom: 10px; /* Espaçamento abaixo do parágrafo */
  line-height: 1.5; /* Aumenta o espaçamento entre linhas */
}

footer img {
  width: 100px; /* Largura da imagem do rodapé */
  height: 100px; /* Altura da imagem do rodapé */
  margin-left: 5px; /* Margem à esquerda da imagem do rodapé */
}

.footer-bottom p {
  margin: 0; /* Remove a margem do parágrafo */
  font-size: 15px; /* Tamanho da fonte do parágrafo */
  color: #ffffff; /* Cor do texto do parágrafo */
}

@media screen and (max-width: 768px) {
  footer {
    padding: 10px; /* Reduz o padding em telas menores */
  }

  footer p {
    font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
  }

  footer img {
    width: 80px; /* Reduz a largura da imagem do rodapé */
    height: 80px; /* Reduz a altura da imagem do rodapé */
  }
  .footer-bottom p {
    font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
  }
  .footer-bottom {
    padding: 10px; /* Reduz o padding em telas menores */
  }
}

/* Quiz Interativo */

.quiz-intro {
  background-color: #00432c; /* Cor de fundo do container */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.quiz-intro h1 {
  font-size: 2.5em;
  font-family: "Champ-Black", sans-serif;
  margin-bottom: 20px;
  color: #ffffff; /* Cor do título */
}
.quiz-intro p {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #ffffff; /* Cor do texto */
  margin-bottom: 30px; /* Espaçamento abaixo do parágrafo */
  line-height: 2; /* Aumenta o espaçamento entre linhas */
  max-width: 100%; /* Largura máxima do texto */
  margin: 0 auto; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Poppins", sans-serif; /* Fonte do texto */
  font-weight: 400; /* Peso da fonte */
  text-align: center; /* Centraliza o texto */
  margin: 20px;
}

.quiz-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin: 0 auto 50px auto;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  margin-bottom: 100px;
}
.quiz-container h2 {
  margin-bottom: 15px;
}
.btn-quiz {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #b8d702;
  color: #00432c;
  font-size: 16px;
  transition: 0.3s;
}
.btn-quiz:hover {
  background: #02b174;
}

@media (max-width: 768px) {
  .quiz-container {
    width: 100%;
    margin: 0 10px;
  }

  .btn-quiz {
    font-size: 14px;
  }
}

/* Botões de resposta */
.btn-quiz {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #38a169; /* verde */
  color: white;
  font-size: 16px;
  transition: 0.3s;
}
.btn-quiz:hover {
  background: #2f855a;
}

/* Botão de próxima pergunta */
#next-btn {
  background: #00432c; /* azul */
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: none;
}
#next-btn:hover {
  background: #2b6cb0; /* azul mais escuro */
}

/* Caixa de feedback */
.feedback-box {
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Ícones */
.feedback-icon {
  font-size: 20px;
}

/* Correto */
.feedback-box.correct {
  background: #c6f6d5; /* verde clarinho */
  color: #22543d;
  border-left: 6px solid #38a169;
}

/* Errado */
.feedback-box.incorrect {
  background: #fed7d7; /* vermelho clarinho */
  color: #742a2a;
  border-left: 6px solid #e53e3e;
}

/* Resumo final */
#result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

btn-quiz.correct {
  background-color: #38a169;
  color: #fff;
}

.btn-quiz.wrong {
  background-color: #e53e3e;
  color: #fff;
}

.btn-quiz:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.swiper {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 40px auto;
  border-radius: 20px;
  background: #f7fafc;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.slide-img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
  transition: transform 0.5s;
}

.swiper-slide-active .slide-img {
  transform: scale(1.1) rotate(5deg);
}

.swiper-slide p {
  font-size: 16px;
  color: #2d3748;
  margin: 6px 0;
}

.swiper-slide small {
  margin-top: 10px;
  font-size: 12px;
  color: #4a5568;
  font-style: italic;
}

@media (max-width: 768px) {
  .swiper {
    height: 300px;
  }

  .slide-img {
    width: 120px;
  }

  .swiper-slide p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .swiper {
    height: 250px;
  }

  .slide-img {
    width: 100px;
  }

  .swiper-slide p {
    font-size: 12px;
  }
}

/* Estatísticas e Gráficos */

.dados-estatisticas {
  background-color: #e6fdd6; /* Cor de fundo do container */
  padding: 100px;
  text-align: center;
  color: #000000; /* Cor do texto */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
}

.dados-estatisticas h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
  color: #00432c; /* Cor do título */
  font-family: "Champ-Black", sans-serif; /* Fonte do título */
}

.dados-estatisticas p {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #000000; /* Cor do texto */
  margin-bottom: 30px; /* Espaçamento abaixo do parágrafo */
  line-height: 2; /* Aumenta a legibilidade */
  max-width: 100%; /* Largura máxima do texto */
  margin: 0 auto; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: justify; /* Justifica o texto */
  text-justify: inter-word; /* Melhora a justificação do texto */
  font-family: "Poppins", sans-serif; /* Fonte do texto */
  font-weight: 400; /* Peso da fonte */
}

main {
  max-width: 1100px;
  margin: 40px auto;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}

.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

canvas {
  width: 100% !important;
  height: 400px !important;
}

canvas#graficoBarra {
  width: 100% !important; /* garante responsividade */
  height: 500px !important; /* altura fixa */
}

.intro {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.info {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: #555;
  margin-top: 15px;
}

a {
  color: #2e7d32;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .chart-container {
    padding: 15px;
  }

  canvas {
    height: 100% !important;
    width: 100% !important;
  }

  .intro {
    font-size: 14px;
  }

  .info {
    font-size: 13px;
  }

  .info {
    padding: 0 10px;
  }

  .dados-estatisticas {
    padding: 50px 20px;
  }

  .dados-estatisticas h1 {
    font-size: 2em;
  }
  .dados-estatisticas p {
    font-size: 1em;
  }
}

/*Impacto Ambiental*/

/* ----- Estrutura Geral ----- */
#impacto-ambiental {
  padding: 80px 40px;
  background-color: #00432c;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

#impacto-ambiental.visible {
  opacity: 1;
  transform: translateY(0);
}

#impacto-ambiental h1 {
  font-size: 2.8em;
  font-family: "Champ-Black", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  color: #ffffff;
}

#impacto-ambiental .intro {

  margin: 0 auto 50px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #ffffff;
  font-family: "Poppins", sans-serif;

  text-align: justify;
  text-justify: inter-word;
}

/* ----- Cards Circulares ----- */
.circular-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.circular-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 300px;
  padding: 25px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateY(40px);
}

.circular-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.circular-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
}

/* ----- Círculo Estilizado ----- */
.circle {
  width: 130px;
  height: 130px;
  margin: 0 auto 15px;
  border-radius: 50%;
  background: conic-gradient(var(--color) calc(var(--value) * 1%), #000000 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.6em;
  position: relative;
}

.circle .icon {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.circle .value {
  font-size: 1em;
}

/* ----- Texto dos Cards ----- */
.circular-card p {
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  max-width: 320px;
  font-family: "Wagen", sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: justify;
  text-justify: inter-word;
}

.circular-card strong {
  color: #00432c;
}

.fonte {
  display: block;
  margin-top: 10px;
  font-size: 0.85em;
  color: #555;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.fonte a {
  color: #2980b9;
  text-decoration: none;
}

.fonte a:hover {
  text-decoration: underline;
}

/* ----- Responsividade ----- */
@media (max-width: 900px) {
  .circular-cards {
    flex-direction: column;
    align-items: center;
  }
  .circular-card {
    width: 90%;
  }
  #impacto-ambiental h1 {
    font-size: 1.8em;
  }
  .circle {
    width: 110px;
    height: 110px;
    font-size: 1.3em;
  }
}


/* Dados Impactantes */

#dados-impactantes {
  padding: 80px 40px;
  background: #e6fdd6;
  border-radius: 15px;
  text-align: center;
}

#dados-impactantes h1 {
  font-size: 2.8rem;
  font-family: "Champ-Black", sans-serif;
  margin-bottom: 20px;
  color: #00432c;
}

#dados-impactantes .intro {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 40px;
}

.impact-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.impact-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 180px; /* altura uniforme */
}

.impact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.impact-card .icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.impact-card p {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}

/* Responsividade */
@media (max-width: 1024px) {
  .impact-cards {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .impact-cards {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

#dica-sustentavel {
  padding: 40px 20px;
  text-align: center;
  background-color: #013014; /* Cor de fundo do container */
}

.dica-card {
  font-size: 2rem;
  font-style: italic;
  color: #ffffff;
  padding: 15px 20px;
  font-family: "Wagen", sans-serif;
  font-weight: 400;
  white-space: pre-wrap;
  overflow: hidden;
  display: inline-block;
  min-height: 60px;
}
